.search-container {
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: #000000;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container form {
  display: flex;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  width: 60%;
  max-width: 600px;
}

.search-container form input {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
}

.search-container form button {
  background-color: transparent;
  border: none;
  padding: 7px;
  cursor: pointer;
}
.teamsListContainer {
  position: absolute;
  top: 160px; /* Tạo khoảng cách dưới header và thanh tìm kiếm */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  background-color: #f9f9f9;
  width: 90%;
  border-radius: 5%;
}

.filter {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
}
.filter label {
  font-weight: bold;
}
.filter select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.3s;
}
.filter select:hover {
  border-color: #007bff;
}

.teamRow {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* 4 cột, mỗi cột chiếm 1 phần của grid */
  gap: 20px;
}

.team-info {
  display: block; /* Đảm bảo thẻ a chiếm toàn bộ vùng của team-info */
  background-color: #f9f9f9;
  border-radius: 5%;
  padding: 30px;
  text-decoration: none; /* Loại bỏ gạch chân */
  color: black; /* Đảm bảo màu chữ */
  transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng khi hover */
}

.team-info:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-info .team-info-content {
  text-align: left;
}

.team-info .team-info-content div {
  line-height: 1.5;
}

.teamCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.teamCard:hover .team-info {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.teamCard h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.teamCard p {
  font-size: 1em;
  color: #555;
}

.editButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.editButton:hover {
  background-color: #0056b3;
}

.editButton:active {
  background-color: #00408f;
}

/*  */
.players-container {
  margin-top: 180px; /* Tạo khoảng cách dưới header */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.3s;
}

.filter-container select:hover {
  border-color: #007bff;
}

.filter-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-container button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

th.sortable {
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #007bff;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .active {
  background-color: #007bff;
  color: white;
  cursor: default;
}

.editButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editButton:hover {
  background-color: #0056b3;
}

.editButton:active {
  background-color: #00408f;
}

.expired {
  background-color: #ff4d4d;
}

/*  */
.modal {
  display: none; /* Ẩn hộp thoại mặc định */
  position: fixed; /* Cố định hộp thoại */
  z-index: 1; /* Hiển thị phía trên */
  left: 0;
  top: 0;
  width: 100%; /* Chiếm toàn bộ màn hình */
  height: 100%; /* Chiếm toàn bộ màn hình */
  overflow: auto; /* Cho phép cuộn nếu nội dung quá dài */
  background-color: rgba(0, 0, 0, 0.4); /* Màu nền với độ mờ */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Canh giữa màn hình */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Chiều rộng của hộp thoại */
  max-width: 500px; /* Giới hạn chiều rộng tối đa */
  border-radius: 10px; /* Bo góc */
}

.addPlayerButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.addPlayerButton:hover {
  background-color: #0056b3;
}
.addPlayerButton:active {
  background-color: #00408f;
}
