<div class="header">
  <div class="logo">
    <a href="/">
      <img
        src="../../../images/League_of_Legends_Icon.png"
        alt="LOL Logo"
        class="lol-logo"
      />
    </a>
  </div>
  <div class="menu">
    <a href="/players">Tuyển thủ</a>
    <a href="/team">Team</a>
    <a href="/tournament">Giải đấu</a>
  </div>
</div>
